<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: hlavicka">
    <title>Registrace</title>
</head>

<body>
<div class="container">
    <nav th:replace="layouts :: navbar"></nav>
    <form autocomplete="off" th:action="@{/registrace/ulozit}" th:object="${userAccount}" method="post" class="form-signin" role="form">
        <h3 class="form-signin-heading">Registrace</h3>
        <div class="form-group">
            <div class="">
                <input type="text" th:field="*{userName}" placeholder="Jméno" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="password" th:field="*{password}" placeholder="Heslo" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-primary btn-block">Dokončit</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>