<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: hlavicka">
    <title>Nový projekt</title>
</head>

<body>
<h1>Vytvoření projektu</h1>
    <div class="container">

        <nav th:replace="layouts :: navbar"></nav>
        <form th:action="@{/projekty/ulozit}" th:object="${projekt}" method="post">

            <input type="text" placeholder="Název projektu" th:field="${projekt.nazev}">

            <select th:field="${projekt.stav}">
                <option th:value="nezahajen">Nezahájen</option>
                <option th:value="vevyvoji">Ve vývoji</option>
                <option th:value="hotovo">Hotovo</option>
            </select>

            <textarea type="text" placeholder="Popis projektu" th:field="${projekt.popis}"></textarea>

            <select th:field="${projekt.zamestnanci}" multiple="multiple">
                <option th:each="zamestnanec : ${zamestnanciList}"
                        th:value="${zamestnanec.zamestnanecId}"
                        th:text="${zamestnanec.jmeno}">
                </option>
            </select>
            <button type="submit">Vytvořit projekt</button>

        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>