<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: hlavicka">
    <title>Nový zaměstnanec</title>
</head>

<body>
    <div class="container">

        <nav th:replace="layouts :: navbar"></nav>
        <form th:action="@{/zamestnanci/ulozit}" th:object="${zamestnanec}" method="post">
            <h3>Nový zaměstnanec</h3>
            <input type="hidden" th:field="${zamestnanec.zamestnanecId}">   <!--Nutné pro aktualizaci-->

            <div class="row form-group pl-3 pr-3">
                <input type="text" placeholder="Jméno: " th:field="${zamestnanec.jmeno}">
                <span th:if="${#fields.hasErrors('jmeno')}"
                      th:errors="${zamestnanec.jmeno}"></span>
            </div>
            <div class="row form-group pl-3 pr-3">
                <input type="text" placeholder="Přijmení: " th:field="${zamestnanec.prijmeni}">
                <span th:if="${#fields.hasErrors('prijmeni')}"
                      th:errors="${zamestnanec.prijmeni}"></span>
            </div>
            <div class="row form-group pl-3 pr-3">
                <input type="text" placeholder="email" th:field="${zamestnanec.email}">
                <span th:if="${#fields.hasErrors('email')}"
                      th:errors="${zamestnanec.email}"></span>
            </div>
            <button class="btn btn-dark" type="submit">Uložit zaměstnance</button>

        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>